@font-face {
     
    font-family: 'Proxima Nova' ;
    src: url('Proxima-Nova.ttf') format('truetype');
 
 }
 
  @font-face {
 
    font-family: 'Gothic' ;
    src: url('Raleway.ttf') format('truetype');
 
}

body {
    font-family: 'Proxima Nova';
    background-color: #B8A5A6;
    background-image: url("home_images/rsz_redcross.jpg");
background-color: #1f1717;
background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center; 
}


.mainContent {
    display: flex;
    margin-top: 10em;
    align-items: center;
    justify-content: center;
    
}

.blankProfPic {
    width: 23.5%;
    height: 23.5%;
}
p {
    margin-left:10.85em;
    text-align: center;
}

.noresult_title{
    margin-left: 0%;
    margin-bottom: 0em;
    color: white;
}

.noresult_search_container{
    
    text-align: center;
}

h2{
    color: white;
}