@font-face {
     
    font-family: 'Proxima Nova' ;
    src: url('Proxima-Nova.ttf') format('truetype');
 
 }
 
  @font-face {
 
    font-family: 'Gothic' ;
    src: url('Raleway.ttf') format('truetype');
 
}

body {
    font-family: 'Proxima Nova';
    background-color: #B8A5A6;
}


.mainContent {
    display: flex;
    margin-top: 10em;
    align-items: center;
    justify-content: center;
    
}


.blankProfPic {
    margin-left: 3em;
    width: 17.5%;
    height: 17.5%;
}
p {
    margin-left:12em;
    text-align: center;
}

