body{
background-image: url("../assets/home_images/rsz_redcross.jpg");
background-color: #1f1717;
background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center; 
}

.main_title{
    text-align: center;
    color: white;
    size: 500px;
}

.main_title2{
    text-align: center;
    color: white;
    size: 500px;
}

.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
    }

    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }

    .search_input{
        padding: 0 10px;
        width: 450px;
        caret-color:red;
        
        }
    
        .searchbar:hover > .search_icon{
        background: white;
        color: #e74c3c;
        
        }

    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
    }


.enter_container{
    text-align: center;
  margin:0 auto;
  margin-top: 80px;
}

.searchbar1_container{
    margin-top: 40px;
    margin-bottom: 20px;
}

.searchbar2_container{
    margin-bottom: 20px;
}

.search_text{
    color: white;
}